<div class="card mb-3">
  <youtube-player class="card-img-top p-3" style="margin-left: 110px !important;" videoId="{{detail.bande_annoce}}">
  </youtube-player>
  <div class="card-body">
    <h5 class="card-title">{{detail.titre}}</h5>
    <p class="card-text">Date de sortie : {{detail.date_sortie|date:'d-MM-yyyy'}}</p>
    <p class="card-text">Casting : {{detail.personnes[0].nom}} {{detail.personnes[0].prenom}}</p>
    <p class="card-text">Realisateur : {{detail.realisateurs.nom}} {{detail.realisateurs.prenom}}</p>
  </div>
</div>

